.div {
  width: 580px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px;
  cursor: text;
}
.img {
  margin-left: 41px;
  height: 24px;
}
.inp {
  outline: none;
  margin-left: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #707c97;
  height: 60px;
  width: 500px;
  border: 0;
  color: black;
}
